.App-logo {
  height: 4em;
  pointer-events: none;
  margin-right: 1em;
}

.App-wetek {
  height: 1.6em;
  pointer-events: none;
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
}

.App-body {
  min-height: 70vh;
  background-color: #eee;
}

.App-footer {
  background-color: darkgray;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
  border-top: 2px solid;
  border-color: black;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0.5em 1.0em 0.7em 1.0em;
}

th {
  height: 1.7em;
  text-align: left;
  padding-right: 2em;
}

td {
  height: 1.7em;
  text-align: left;
  margin: 0 10px 0 10px;
}
