/*
.container {
    margin: 1em;
    padding: 2px;
}
*/

/*
div {
    border: 1px dotted #000;
}

.main {
    border: 0px solid #475;
}
*/

.footer {
    margin: 1em;
}

.w-100 {
    width: 100%;
}

.red-text {
    color: red;
}

.center {
    text-align: center;
}

.nav-main {
    color: rgb(33, 55, 77);
}

.nav-sub {
    color: #778;
}

.grid {
    display: grid;
}

.grid-item {
    margin: 0.5em;
}

.col-1 {
    grid-column: 1;
}

.col-2 {
    grid-column: 2;
}

.col-3 {
   grid-column: 3;
}

.cols-3 {
   grid-column: span 3;
}

.col-4 {
   grid-column: 4;
}

.col-5 {
   grid-column: 5;
}

.col-6 {
   grid-column: 6;
}

.col-7 {
   grid-column: 7;
}

.col-8 {
   grid-column: 8;
}

.row {
    display: flex;
    flex-direction: row;
}

.heading {
    color: #555;
    font-weight: bold;
}

.field {
    color: #333;
}
